/* ====== COLORS ====== */
:root {
	--primary-color: #C21715;
	--secondary-color: #d01a17;
	--bg-color: #EAEAEE;
	--light-bg-color: #F4F5F9;
	--white-bg-color: #FFFFFF;
	--text-color: #000000;
	--light-text-color: #969696;
	--border-color: #757474;
	--success-color: #34A853;

	/* ====== TYPOGRAPHY ====== */
	--font-family: 'Poppins', sans-serif;
	--font-size-title: 32px;
	--font-size-subtitle: 24px;
	--font-size-content: 16px;
	--font-size-card: 14px;
	--font-size-button: 16px;
	--font-size-input: 14px;
	--font-weight-title: 700;
	--font-weight-button: 600;

	/* ====== SPACING ====== */	
	--padding-container: 48px;
	--padding-button: 12px 24px;
	--spacing-element-small: 8px;
	--spacing-element: 16px;
	--spacing-element-big: 32px;
	--spacing-element-large: 48px;
	--border-radius: 6px;

	/* ====== DIMENSIONS ====== */
	--width-wide: 1200px;
	--width-content: 800px;
	--width-side: 300px;
}

/* ====== GENERAL STYLES ====== */
body {
	font-family: var(--font-family);
	font-size: var(--font-size-content);
	background-color: var(--bg-color);
	color: var(--text-color);
	margin: 0;
	padding: 0;
}

h1 {
	font-size: var(--font-size-title);
}
h2 {
	font-size: var(--font-size-subtitle);
}
h3 {
	font-size: var(--font-size-content);
}
h4 {
	font-size: var(--font-size-card);
}
/* ====== LINK ====== */

a {
	color: var(--text-color);
	text-decoration: none;

	&:hover {
		transform: scale(1.02);
	}

	&:active {
		transform: scale(0.98);
	}
}
a.action {
	font-weight: normal;
	font-size: var(--font-size-card);
	color: var(--primary-color);
	&:hover {
		text-decoration: underline;
	}
}

/* ====== BUTTON ====== */
button {
	background-color: var(--white-bg-color);
	color: var(--primary-color);
	padding: var(--padding-button);
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
	font-size: var(--font-size-button);
	font-weight: var(--font-weight-button);
	cursor: pointer;

	// transition: background-color 0.2s ease;
	&:hover {
		transform: scale(1.02);
		/* Slight click effect */
	}

	&:active {
		transform: scale(0.98);
		/* Slight click effect */
	}
	position: relative;
}

.primary-btn {
	background-color: var(--primary-color);
	color: var(--white-bg-color);
	border-color: transparent;	
}
.primary-btn:hover {
	background-color: var(--secondary-color);
}

button[disabled],
button[disabled]:hover,
button[disabled]:active,
.disable-btn,
.disable-btn:hover,
.disable-btn:active {
	background-color: var(--light-text-color);
	color: var(--white-bg-color);
	border-color: transparent;
	cursor: not-allowed;
	/* Cursor shows as disabled */
	opacity: 0.6;
	/* Slightly faded to indicate disabled state */
	transform: none;
	/* No click effect */
}

/* ====== INPUT STYLES ====== */
input {
	background-color: var(--white-bg-color);
	border: 1px solid var(--border-color);
	padding: 12px;
	font-size: var(--font-size-input);
	color: var(--text-color);
	border-radius: var(--border-radius);
	width: 100%;
	box-sizing: border-box;
}

input::placeholder {
	color: var(--light-text-color);
}

input:focus {
	border-color: var(--primary-color);
	outline: none;
}

/* ====== LAYOUT WIDTH CLASSES ====== */
.content {
	width: var(--width-content);
	margin: 0 auto;
}

.wide {
	width: var(--width-wide);
	margin: 0 auto;
}

.sidebar {
	width: var(--width-side);
}

/* ====== BORDER UTILITIES ====== */
.border {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
}
.border-radius {
	border-radius: var(--border-radius);
}
.no-border {
	border: none;
}

/* ====== DESIGN SPECIALITY ====== */
.card {
	background-color: var(--white-bg-color);
	border-radius: var(--border-radius);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	min-height: 1vh;
	border: 1px solid transparent;
	font-size: var(--font-size-card);
}
.dim-text {
	font-size: var(--font-size-card);
	color: var(--light-text-color);
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}